/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for the flipbook pages */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url('/ferrari.png') no-repeat center center;
  background-size: cover;
}

.flipbook {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipbook .cover {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url('/cover.png') no-repeat center center;
  background-size: cover;
}

.flipbook .page {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flipbook .pageHeader {
  font-size: 2rem;
  margin-bottom: 10px;
}

.flipbook .pageContent {
  font-size: 1.2rem;
  text-align: center;
}

.aboutMeList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.aboutMeList li {
  margin-bottom: 5px;
}

.contactList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.contactList li {
  margin-bottom: 5px;
}

.contactList a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contactList a:hover {
  background-color: #0056b3;
}

.navigation-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}

.navigation-buttons button span {
  font-size: 0.8rem;
  margin-top: 5px;
}

.navigation-buttons button svg {
  font-size: 1.5rem;
}